[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git

[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/hilkojj/zlib.git
[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/JogAmp/openal-soft.git
